<!DOCTYPE html>
<html>
<head>
  <title>SipgateIo</title>
  <%= stylesheet_link_tag    "sipgate_io/application", media: "all" %>
  <%= javascript_include_tag "sipgate_io/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
